.container.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    transition: all 0.2s !important;
    padding-bottom: 1rem;
}

.container.has-right-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    /* border: 1px solid red; */
}

.right {
    /* border: 1px solid blue; */
}
.container.sticky.stuck {
    padding-top: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.048);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container.wide {
    width: calc(100% - 3rem);
}

.container.column .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}

.container.sticky.column .menu {
    justify-content: start !important;
}

.container.row .menu {
    width: 100%;
    display: flex;
    justify-content: start;
    height: 100%;
    flex-direction: row;
    
}

.menu .item p {
    font-size: 12pt;
    font-family: 'Din Mittelschrift';
    margin-bottom: 1rem;
    opacity: 0.5;
    cursor: pointer;
    width: fit-content;
    
}

.title {
    font-family: 'Din Mittelschrift';
    font-size: 12pt;
    font-weight: 400;
    margin-bottom: 1rem;
}

.menu .item.active p {
    font-weight: bold;
    opacity: 1;
}

.menu .item p:hover {
    opacity: 1;
}

.user-section {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 3rem;
    padding: 1rem;
    padding-left: 0;

}

.user-section p.user {
    font-size: 12pt;
    font-family: 'Din Mittelschrift';
    cursor: pointer;
    width: fit-content;
    font-weight: normal;
    margin-bottom: .5rem;
    cursor: default;
    color:rgb(160, 160, 160);
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    margin-top: .5rem;
    padding-top: .5rem;

}

.logout-btn {
    cursor: pointer;
    transition: all 0.1s !important;
    color: red;
    /* padding: 0.5rem; */
    /* border: 1px solid red; */
    /* border-radius: 0.25rem; */
    width: 100px;
    /* padding-left: 1rem; */
    font-family: 'Din Mittelschrift';
    font-size: 12pt;
    /* padding-right: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.logout-btn p {
    font-size: 12pt;

}

.logout-btn:hover {
    color: rgb(0, 0, 0);
}


.logout-btn svg {
    transition: all 0.1s !important;
    transition-delay: 0 !important;
}



.divider {
    width: 40px;
    height: 1px;
    background-color: black;
    margin-top: 1rem;
    display: block;
    margin-bottom: 2rem;
}