.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* for every child of container that isn't the first child */
/* .container > :not(:first-child) {
    border-left: none
} */

.tab {
    padding: 0.5rem;
    width: 120px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
    border-top: none;
    cursor: pointer;
    transition: all 0.3s;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;

}

.tab.active {
    background-color: black;
    color: white;
}

/* last tab */
.tab:last-child {
    border-left: none;
    
}

/* first tab */
.tab:first-child {
    border-right: none;
}