:root {
    --ag-custom-font-size: 8pt !important;
}

.ag-cell, .ag-header-cell-text, .ag-input-field-input, .ag-input-field-input, .ag-input-wrapper {
    font-size: var(--ag-custom-font-size) !important;
}

.ag-cell input {
    font-size: var(--ag-custom-font-size);
}

