.container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 3rem);
    height: 100%;
}

.divider {
    width: 40px;
    height: 1px;
    background-color: black;
    margin-top: 1rem;
    display: block;
    margin-bottom: 2rem;
}

.title {
    font-family: 'Din Mittelschrift';
    font-size: 12pt;
    font-weight: 400;
}

.left {
    padding-left: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 75%;
}

.save-button-container {
    margin-top: 5rem;
    width: 100%;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.save-button-container button {
    width: fit-content;
    padding-left: 4rem;
    padding-right: 4rem;
}

h1.title {
    margin-bottom: 1.5rem;
    margin-top: 4rem;
}

h1.title.no-margin {
    margin-top: 0;
}

p.subtitle {
    margin-bottom: 1.25rem;
}

p.subtitle.separating {
    margin-top: 3rem;
}

.content-separator {
    height: 4rem;
    opacity: 0;
}