.variation {
    background-color: #f6f6f6;
    justify-content: space-between;
    min-width: 40vw;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    margin-bottom: .5em;
}

.variation-chevron {
    cursor: pointer;
}



/* STYLE THE AG GRID */
.ag-theme-alpine {
    height: 100%;
    width: 100%;
}

.ag-header-cell-text {
    font-size: 10pt !important;
    font-weight: bold;
}

.ag-cell {
    font-size: 10pt !important;
  }