.container {
display: flex;
flex-direction: column;
height: 50px;
overflow: hidden;
transition: all 0.5s ease-in-out;

}

.container.show-all-fields {
    height: 100px;
}

.container .top {
display: flex;
flex-direction: row;
justify-content: end;
align-items: center;
}

.container .bottom {
display: flex;
flex-direction: row;
justify-content: end;
align-items: center;
margin-top: 1rem;
opacity: 0;
transition: all 0.25s ease-in-out;

}

.container .bottom.visible {
    opacity: 1;
}
.consign-btn {
    width: fit-content !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin-left: 1rem;;
}


.datepicker input {
    padding: .6rem !important;
    cursor: pointer;
}

.datepicker fieldset {
    border: 1px solid black;
}

.datepicker {
    /* border: 1px solid black; */
    min-width: 200px;
    align-self: center;
    cursor: pointer;
    margin-right: 1rem;
}




.autocomplete-option {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding:0.5rem 1.5rem;
}

.autocomplete-option:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.autocomplete-option .initials {
    opacity: .5;
}