.container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 3rem);
    height: 100%;
}

.container .left {
    padding-left: 1rem;
}

.container .right {
    width: 100%;
    margin-left: 5rem;
}