.child-work-popup .child-img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    position: relative;
}

.child-work-popup .child-img img {
    width: 100%;
    /* height: 100%; */
}

.child-work-popup .child-img .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0;
    transition: opacity .2s;
}

.child-work-popup .child-img:hover .overlay {
    opacity: 0.5;
}

.child-work-popup .child-img.skeleton {
    height: 300px;
}

.child-work-popup p.skeleton {
    height: 1.5rem;
}

.child-work-popup {
    display: flex;
    justify-content: row;
    justify-content: space-between;
}

.child-work-popup .left, .child-work-popup .right {
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow-y: auto;

}


.child-work-popup div:has(.skeleton) {
    width: 100%;
    height: 100%;
}

.child-work-popup .left {
    width: 25%;
    margin-right: 1rem;
    padding-left: 2rem;
}

.child-work-popup .right {
    width: 70%;
    padding-right: 1rem;
}





.field-name {
    font-family: 'Helvetica Neue';
    /* font-weight: bold; */
    width: 50px;
    padding-right: 1rem;


}

/* every first td in a tr, background black */
.summary table tr td:first-child {
    background-color: #f6f6f6;
    font-weight: bold;
    /* color: white; */
    /* border-bottom-color: rgb(79, 79, 79); */
}

.summary table tr td:nth-child(2) {
    padding-left: 1rem;
}

.summary table td {
    padding: .5rem;
    /* border-bottom: 1px solid black; */
    border: 1px solid black;
    /* border-bottom: 1px solid black; */
    /* border-right: 1px solid white; */

    overflow-wrap: break-word;
    max-width: 250px;
  
}

.summary table {
    border-collapse: collapse;
  cellspacing: 0;
  cellpadding: 0;
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}