.collapsable-datatable:first-child {
    width: 100%;
}



.collapsable-datatable {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    /* delay transition for each additional element */
    /* transition-delay: 0.2s; */
    max-height: 0;
    margin-bottom: 0rem;
}
.collapsed {
    opacity: 1;
    max-height: 600px;
    margin-bottom: 1rem;
}